.m-button-default {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    color: black;
    background-color: #fff;
    border: 1px solid rgb(154, 154, 154);
    border-radius: 4px;
    outline: 0;
    cursor: pointer;

    &[text=true] {
        border: none;
        background-color: transparent;
    }

    //增加disabled属性
    &[disabled] {
        cursor: not-allowed;
    }

    &[strong=true] {
        font-weight: 600;
    }

    &.is-normal {
        padding: 16px 22px;
        font-size: 14px;

        &[round=true] {
            border-radius: 16px;
        }
    }

    &.is-small {
        padding: 8px 12px;
        font-size: 12px;

        &[round=true] {
            border-radius: 16px;
        }
    }

    &.is-large {
        padding: 22px 28px;
        font-size: 16px;

        &[round=true] {
            border-radius: 38px;
        }
    }

}

.m-button-default.is-default {
    background-color: transparent;
    color: black;

    a {
        color: black;
    }

    &[secondary=true] {
        background-color: #dfdede;
        border: none;

        &[text=true] {
            border: none;
            background-color: transparent;
            color: black;

            &:hover {
                color: #42a325;
            }
        }

        &:not([text=true]):hover {
            background-color: #c5c4c4;
            transition: background-color 0.1s linear;
        }
    }

    &:not([secondary=true]) {
        &[dashed=true] {
            border: 1px dashed #adaaaa;

            &[text=true] {
                border: none;
                background-color: transparent;
                color: black;

                &:hover {
                    color: #42a325;
                }
            }

            &:not([text=true]) {
                &:active {
                    color: #42a325;
                    border-color: #42a325;
                    box-shadow: 0px 0px 10px #42a325;
                    transition: box-shadow 0.1s linear, color 0.1s linear;
                }

                &:hover {
                    color: #42a325;
                    border-color: #42a325;
                }
            }
        }

        &:not([dashed=true]) {
            &[text=true] {
                border: none;
                background-color: transparent;
                color: black;

                &:hover {
                    color: #42a325;
                }
            }

            &:not([text=true]):hover {
                color: #42a325;
                border-color: #42a325;
                transition: color 0.1s linear;
            }
        }
    }
}

.m-button-default.is-tertiary {
    background-color: transparent;
    color: rgb(124, 124, 124);

    &[secondary=true] {
        background-color: #dfdede;
        border: none;

        &[text=true] {
            border: none;
            background-color: transparent;
            color: rgb(124, 124, 124);

            &:hover {
                color: #42a325;
            }
        }

        &:not([text=true]):hover {
            background-color: #c5c4c4;
            transition: background-color 0.1s linear;
        }
    }

    &:not([secondary=true]) {

        &[dashed=true] {
            border: 1px dashed #adaaaa;

            &[text=true] {
                border: none;
                background-color: transparent;
                color: rgb(124, 124, 124);

                &:hover {
                    color: #42a325;
                }
            }

            &:not([text=true]) {
                &:active {
                    color: #42a325;
                    border-color: #42a325;
                    box-shadow: 0px 0px 10px #42a325;
                    transition: box-shadow 0.1s linear, color 0.1s linear;
                }

                &:hover {
                    color: #42a325;
                    border-color: #42a325;
                }
            }

        }

        &:not([dashed=true]) {
            &[text=true] {
                border: none;
                background-color: transparent;
                color: rgb(124, 124, 124);

                &:hover {
                    color: #42a325;
                }
            }

            &:not([text=true]):hover {
                color: #42a325;
                border-color: #42a325;
                transition: color 0.1s linear;
            }
        }
    }
}

.m-button-default.is-primary {
    background-color: #2c950c;
    color: white;
    border: none;

    &[secondary=true] {
        background-color: #d7eac9;
        border: none;
        color: #2c950c;

        &[text=true] {
            border: none;
            background-color: transparent;
            color: #2c950c;

            &:hover {
                color: #48b826;
            }
        }

        &:not([text=true]):hover {
            background-color: #c2dbb0;
            transition: background-color 0.1s linear;
        }
    }

    &:not([secondary=true]) {
        &[dashed=true] {
            border: 1px dashed #2c950c;
            background-color: transparent;
            color: #2c950c;

            &[text=true] {
                border: none;
                background-color: transparent;
                color: #2c950c;

                &:hover {
                    color: #4bbf27;
                }
            }

            &:not([text=true]) {
                &:active {
                    color: #42a325;
                    border-color: #42a325;
                    box-shadow: 0px 0px 10px #42a325;
                    transition: box-shadow 0.1s linear, color 0.1s linear;
                }

                &:hover {
                    color: #42a325;
                    border-color: #42a325;
                }
            }

        }

        &:not([dashed=true]) {
            &[text=true] {
                border: none;
                background-color: transparent;
                color: #2c950c;

                &:hover {
                    color: #51c72e;
                }
            }

            &:not([text=true]):hover {
                background-color: #42a325;
                color: white;
                transition: background-color 0.1s linear;
            }
        }
    }
}

.m-button-default.is-success {
    background-color: #2c950c;
    color: white;
    border: none;

    &[secondary=true] {
        background-color: #d7eac9;
        border: none;
        color: #2c950c;

        &[text=true] {
            border: none;
            background-color: transparent;
            color: #2c950c;

            &:hover {
                color: #48b826;
            }
        }

        &:not([text=true]):hover {
            background-color: #c2dbb0;
            transition: background-color 0.1s linear;
        }
    }

    &:not([secondary=true]) {
        &[dashed=true] {
            border: 1px dashed #2c950c;
            background-color: transparent;
            color: #2c950c;

            &[text=true] {
                border: none;
                background-color: transparent;
                color: #2c950c;

                &:hover {
                    color: #4bbf27;
                }
            }

            &:not([text=true]) {
                &:active {
                    color: #42a325;
                    border-color: #42a325;
                    box-shadow: 0px 0px 10px #42a325;
                    transition: box-shadow 0.1s linear, color 0.1s linear;
                }

                &:hover {
                    color: #42a325;
                    border-color: #42a325;
                }
            }
        }

        &:not([dashed=true]) {
            &[text=true] {
                border: none;
                background-color: transparent;
                color: #2c950c;

                &:hover {
                    color: #51c72e;
                }
            }

            &:not([text=true]):hover {
                background-color: #42a325;
                color: white;
                transition: background-color 0.1s linear;
            }
        }

    }
}

.m-button-default.is-error {
    background-color: #d82727;
    color: white;
    border: none;

    &[secondary=true] {
        background-color: #f5c7c7;
        border: none;
        color: #d82727;

        &[text=true] {
            border: none;
            background-color: transparent;
            color: #d82727;

            &:hover {
                color: #ed4747;
            }
        }

        &:not([text=true]):hover {
            background-color: #f3bdbd;
            transition: background-color 0.1s linear;
        }
    }

    &:not([secondary=true]) {
        &[dashed=true] {
            border: 1px dashed #d82727;
            background-color: transparent;
            color: #d82727;

            &[text=true] {
                border: none;
                background-color: transparent;
                color: #d82727;

                &:hover {
                    color: #e84f4f;
                }
            }

            &:not([text=true]) {
                &:active {
                    color: rgb(235, 58, 58);
                    border-color: rgb(235, 58, 58);
                    box-shadow: 0px 0px 10px rgb(235, 58, 58);
                    transition: box-shadow 0.1s linear, color 0.1s linear;
                }

                &:hover {
                    color: rgb(235, 58, 58);
                    border-color: rgb(235, 58, 58);
                }
            }
        }

        &:not([dashed=true]) {
            &[text=true] {
                border: none;
                background-color: transparent;
                color: #d82727;

                &:hover {
                    color: #f44343;
                }
            }

            &:not([text=true]):hover {
                background-color: rgb(235, 58, 58);
                color: white;
                transition: background-color 0.1s linear;
            }
        }
    }
}

.m-button-default.is-warning {
    background-color: #e6880e;
    color: white;
    border: none;

    &[secondary=true] {
        background-color: #fcd199;
        border: none;
        color: #e6880e;

        &[text=true] {
            border: none;
            background-color: transparent;
            color: #e6880e;

            &:hover {
                color: #f29c2d;
            }
        }

        &:not([text=true]):hover {
            background-color: #f8c888;
            transition: background-color 0.1s linear;
        }
    }

    &:not([secondary=true]) {
        &[dashed=true] {
            border: 1px dashed #e6880e;
            background-color: transparent;
            color: #e6880e;

            &[text=true] {
                border: none;
                background-color: transparent;
                color: #e6880e;

                &:hover {
                    color: #f09b2c;
                }
            }

            &:not([text=true]) {
                &:active {
                    color: #ee992a;
                    border-color: #ee992a;
                    box-shadow: 0px 0px 10px #ee992a;
                    transition: box-shadow 0.1s linear, color 0.1s linear;
                }

                &:hover {
                    color: #ee992a;
                    border-color: #ee992a;
                }
            }
        }

        &:not([dashed=true]) {
            &[text=true] {
                border: none;
                background-color: transparent;
                color: #e6880e;

                &:hover {
                    color: #f7a335;
                }
            }

            &:not([text=true]):hover {
                background-color: #ee992a;
                color: white;
                transition: background-color 0.1s linear;
            }
        }
    }
}

.m-button-default.is-info {
    background-color: #12ade6;
    color: white;
    border: none;

    &[secondary=true] {
        background-color: #c7ecf9;
        border: none;
        color: #12ade6;

        &[text=true] {
            border: none;
            background-color: transparent;
            color: #12ade6;

            &:hover {
                color: #29b9ee;
            }
        }

        &:not([text=true]):hover {
            background-color: #b6e7f8;
            transition: background-color 0.1s linear;
        }
    }

    &:not([secondary=true]) {
        &[dashed=true] {
            border: 1px dashed #12ade6;
            background-color: transparent;
            color: #12ade6;

            &[text=true] {
                border: none;
                background-color: transparent;
                color: #12ade6;

                &:hover {
                    color: #29b9ee;
                }
            }

            &:not([text=true]) {
                &:active {
                    color: #32c1f5;
                    border-color: #32c1f5;
                    box-shadow: 0px 0px 10px #32c1f5;
                    transition: box-shadow 0.1s linear, color 0.1s linear;
                }

                &:hover {
                    color: #32c1f5;
                    border-color: #32c1f5;
                }
            }
        }

        &:not([dashed=true]) {
            &[text=true] {
                border: none;
                background-color: transparent;
                color: #12ade6;

                &:hover {
                    color: #24b9ef;
                }
            }

            &:not([text=true]):hover {
                background-color: #32c1f5;
                color: white;
                transition: background-color 0.1s linear;
            }
        }
    }
}