.m-button-default {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    color: black;
    background-color: #fff;
    border: 1px solid rgb(154, 154, 154);
    border-radius: 4px;
    outline: 0;
    cursor: pointer;

    //增加disabled属性
    &[disabled] {
        cursor: not-allowed;
    }

    &[strong=true] {
        font-weight: 600;
    }

    &.is-normal {
        padding: 16px 22px;
        font-size: 14px;

        &[round=true] {
            border-radius: 16px;
        }
    }

    &.is-small {
        padding: 8px 12px;
        font-size: 12px;

        &[round=true] {
            border-radius: 16px;
        }
    }

    &.is-large {
        padding: 22px 28px;
        font-size: 16px;

        &[round=true] {
            border-radius: 38px;
        }
    }

}

.m-button-default.is-default {
    background-color: transparent;
    color: black;

    &[secondary=true] {
        background-color: #dfdede;
        border: none;

        &:hover {
            background-color: #c5c4c4;
            transition: background-color 0.1s linear;
        }
    }

    &:not([secondary=true]) {
        &[dashed=true] {
            border: 1px dashed #adaaaa;
        }

        &[dashed=true]:hover {
            color: #42a325;
            border-color: #42a325;
        }

        &:not([dashed=true]):hover {
            color: #42a325;
            border-color: #42a325;
            transition: color 0.1s linear;
        }

        &[dashed=true]:active {
            color: #42a325;
            border-color: #42a325;
            box-shadow: 0px 0px 10px #42a325;
            transition: box-shadow 0.1s linear, color 0.1s linear;
        }
    }

}

.m-button-default.is-tertiary {
    background-color: transparent;
    color: rgb(124, 124, 124);

    &[secondary=true] {
        background-color: #dfdede;
        border: none;

        &:hover {
            background-color: #c5c4c4;
            transition: background-color 0.1s linear;
        }
    }

    &:not([secondary=true]) {

        &[dashed=true] {
            border: 1px dashed #adaaaa;
        }

        &[dashed=true]:hover {
            color: #42a325;
            border-color: #42a325;
        }

        &:not([dashed=true]):hover {
            color: #42a325;
            border-color: #42a325;
            transition: color 0.1s linear;
        }

        &[dashed=true]:active {
            color: #42a325;
            border-color: #42a325;
            box-shadow: 0px 0px 10px #42a325;
            transition: box-shadow 0.1s linear, color 0.1s linear;
        }
    }
}

.m-button-default.is-primary {
    background-color: #2c950c;
    color: white;
    border: none;

    &[secondary=true] {
        background-color: #d7eac9;
        border: none;
        color: #2c950c;

        &:hover {
            background-color: #c2dbb0;
            transition: background-color 0.1s linear;
        }
    }

    &:not([secondary=true]) {
        &[dashed=true] {
            border: 1px dashed #2c950c;
            background-color: transparent;
            color: #2c950c;
        }

        &:not([dashed=true]):hover {
            background-color: #42a325;
            color: white;
            transition: background-color 0.1s linear;
        }

        &[dashed=true]:active {
            color: #42a325;
            border-color: #42a325;
            box-shadow: 0px 0px 10px #42a325;
            transition: box-shadow 0.1s linear, color 0.1s linear;
        }

        &[dashed=true]:hover {
            color: #42a325;
            border-color: #42a325;
        }
    }
}

.m-button-default.is-success {
    background-color: #2c950c;
    color: white;
    border: none;

    &[secondary=true] {
        background-color: #d7eac9;
        border: none;
        color: #2c950c;

        &:hover {
            background-color: #c2dbb0;
            transition: background-color 0.1s linear;
        }
    }

    &:not([secondary=true]) {
        &[dashed=true] {
            border: 1px dashed #2c950c;
            background-color: transparent;
            color: #2c950c;
        }

        &:not([dashed=true]):hover {
            background-color: #42a325;
            color: white;
            transition: background-color 0.1s linear;
        }

        &[dashed=true]:active {
            color: #42a325;
            border-color: #42a325;
            box-shadow: 0px 0px 10px #42a325;
            transition: box-shadow 0.1s linear, color 0.1s linear;
        }

        &[dashed=true]:hover {
            color: #42a325;
            border-color: #42a325;
        }
    }
}

.m-button-default.is-error {
    background-color: #d82727;
    color: white;
    border: none;

    &[secondary=true] {
        background-color: #f5c7c7;
        border: none;
        color: #d82727;

        &:hover {
            background-color: #f3bdbd;
            transition: background-color 0.1s linear;
        }
    }

    &:not([secondary=true]) {
        &[dashed=true] {
            border: 1px dashed #d82727;
            background-color: transparent;
            color: #d82727;
        }

        &:not([dashed=true]):hover {
            background-color: rgb(235, 58, 58);
            color: white;
            transition: background-color 0.1s linear;
        }

        &[dashed=true]:active {
            color: rgb(235, 58, 58);
            border-color: rgb(235, 58, 58);
            box-shadow: 0px 0px 10px rgb(235, 58, 58);
            transition: box-shadow 0.1s linear, color 0.1s linear;
        }

        &[dashed=true]:hover {
            color: rgb(235, 58, 58);
            border-color: rgb(235, 58, 58);
        }
    }
}

.m-button-default.is-warning {
    background-color: #e6880e;
    color: white;
    border: none;

    &[secondary=true] {
        background-color: #fcd199;
        border: none;
        color: #e6880e;

        &:hover {
            background-color: #f8c888;
            transition: background-color 0.1s linear;
        }
    }

    &:not([secondary=true]) {
        &[dashed=true] {
            border: 1px dashed #e6880e;
            background-color: transparent;
            color: #e6880e;
        }

        &:not([dashed=true]):hover {
            background-color: #ee992a;
            color: white;
            transition: background-color 0.1s linear;
        }

        &[dashed=true]:active {
            color: #ee992a;
            border-color: #ee992a;
            box-shadow: 0px 0px 10px #ee992a;
            transition: box-shadow 0.1s linear, color 0.1s linear;
        }

        &[dashed=true]:hover {
            color: #ee992a;
            border-color: #ee992a;
        }
    }
}

.m-button-default.is-info {
    background-color: #12ade6;
    color: white;
    border: none;

    &[secondary=true] {
        background-color: #c7ecf9;
        border: none;
        color: #12ade6;

        &:hover {
            background-color: #b6e7f8;
            transition: background-color 0.1s linear;
        }
    }

    &:not([secondary=true]) {
        &[dashed=true] {
            border: 1px dashed #12ade6;
            background-color: transparent;
            color: #12ade6;
        }

        &:not([dashed=true]):hover {
            background-color: #32c1f5;
            color: white;
            transition: background-color 0.1s linear;
        }


        &[dashed=true]:active {
            color: #32c1f5;
            border-color: #32c1f5;
            box-shadow: 0px 0px 10px #32c1f5;
            transition: box-shadow 0.1s linear, color 0.1s linear;
        }

        &[dashed=true]:hover {
            color: #32c1f5;
            border-color: #32c1f5;
        }
    }
}